body {
   background: rgb(25, 103, 1);
   color: white;
}

.hand-window {
   bottom: 100px;
   left: 27.5vw;
   max-width: 60vw;
   height: 25vh;
   background-color: rgba(0, 0, 0, 0.25);
   padding: 20px;
   max-height: 150px;
}

   .hand-window .hand {
      position: relative;
      padding: 15px;
      display: flex;
   }

.card.selected {
   background-color: lightskyblue;
}

.card {
   color: black;
   font-size: 5px;
   cursor: pointer;
   user-select: none;
}

.game-table .card {
   font-size: 10px;
}

.flex-container {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: stretch;
   align-items: stretch;
}

.flex-item:nth-child(1) {
   order: 0;
   flex: 0 1 auto;
   align-self: center;
}

.flex-item:nth-child(2) {
   order: 0;
   flex: 1 0 auto;
   align-self: center;
}

.flex-item:nth-child(3) {
   order: 0;
   flex: 0 1 auto;
   align-self: center;
}

.flex-item:nth-child(4) {
    order: 1;
    flex: 0 1 auto;
    align-self: stretch;
    }